<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus
        laborum cumque nam porro dolorum iusto, laboriosam animi aliquid neque
        assumenda?
      </p>
    </header>
  </div>
</section>
<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus laborum
      cumque nam porro dolorum iusto, laboriosam animi aliquid neque assumenda?
    </p>
  </header>
</section>
