<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__title">Item 1</h2>
    <span class="icon-container">
      <img
        class="icon collapsible__icon"
        src="icons/chevron.svg"
        alt="chevron"
      />
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab ullam
    architecto ducimus id quo exercitationem aut consequatur ipsa odio debitis!
  </div>
</div>
<script src="js/main.js"></script>
