<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <div class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__title footer__heading">Item 1</h2>
        <span class="icon-container">
          <img
            class="icon collapsible__icon"
            src="icons/chevron.svg"
            alt="chevron"
          />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer__item"><a href="#">this is item1</a></li>
          <li class="footer__item"><a href="#">this is item2</a></li>
          <li class="footer__item"><a href="#">this is item3</a></li>
        </ul>
      </div>
    </div>
    <div class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__title footer__heading">Item 2</h2>
        <span class="icon-container">
          <img
            class="icon collapsible__icon"
            src="icons/chevron.svg"
            alt="chevron"
          />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer__item"><a href="#">this is item1</a></li>
          <li class="footer__item"><a href="#">this is item2</a></li>
          <li class="footer__item"><a href="#">this is item3</a></li>
        </ul>
      </div>
    </div>
    <div class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__title footer__heading">Item 3</h2>
        <span class="icon-container">
          <img
            class="icon collapsible__icon"
            src="icons/chevron.svg"
            alt="chevron"
          />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer__item"><a href="#">this is item1</a></li>
          <li class="footer__item"><a href="#">this is item2</a></li>
          <li class="footer__item"><a href="#">this is item3</a></li>
        </ul>
      </div>
    </div>
    <section class="footer__brand">
      <img
        class="footer__logo icon-container"
        src="icons/logo.svg"
        alt="logo"
      />
      <p class="footer__copyright">&copy; copyright 2024 nazanin</p>
    </section>
  </div>
</footer>
