<nav class="nav collapsible">
  <a href="/"><img class="logo" src="icons/logo.svg" alt="logo" /></a>
  <svg class="icon icon--primary nav__toggler">
    <use xlink:href="icons/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">item1</a></li>
    <li class="nav__item"><a href="#">item2</a></li>
    <li class="nav__item"><a href="#">item3</a></li>
    <li class="nav__item"><a href="#">item4</a></li>
  </ul>
</nav>
<script src="js/main.js"></script>

<div class="hero block block--dark block--skewed-left">
  <div class="container grid grid--1x2">
    <div class="hero__content block__header">
      <h1 class="block__heading">Cloud Hosting For Pros</h1>
      <p class="hero__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi,
        aliquid! Veniam nihil quos officiis? Ducimus rem natus odit placeat
        nostrum!
      </p>
      <a href="#" class="btn btn--secondary btn--streched">Get Strated</a>
    </div>
    <img class="hero__image" src="icons/bunny.jfif" alt="bunny" />
  </div>
</div>
