<div class="hero block block--dark block--skewed-left">
  <div class="container grid grid--1x2">
    <div class="hero__content block__header">
      <h1 class="block__heading">Cloud Hosting For Pros</h1>
      <p class="hero__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi,
        aliquid! Veniam nihil quos officiis? Ducimus rem natus odit placeat
        nostrum!
      </p>
      <a href="#" class="btn btn--secondary btn--streched">Get Strated</a>
    </div>
    <img class="hero__image" src="icons/bunny.jfif" alt="bunny" />
  </div>
</div>
