<div class="plan">
  <div class="card card--primary">
    <header class="card__header">
      <h3 class="plan__name">Entry</h3>
      <span class="plan__price">14$</span>
      <span class="plan__cycle">/monthly</span>
      <span class="badge badge--primary badge--small">10% OFF</span>
      <span class="plan__description">Lorem ipsum dolor sit amet.</span>
    </header>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">Lorem ipsum dolor sit.</li>
        <li class="list__item">Lorem, ipsum dolor.</li>
        <li class="list__item">Lorem ipsum dolor sit.</li>
      </ul>
      <button type="button" class="btn btn--outline btn--block">
        Buy Now!
      </button>
    </div>
  </div>
</div>
