<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima debitis
    quas, modi culpa corrupti suscipit repellat quaerat repudiandae magnam
    numquam.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <img
          src="icons/horizontal-line.svg"
          class="quote__image quote__line"
          alt="horizontal-line"
        />
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jack Blues</h3>
        <p class="quote__origin">abc company</p>
      </div>
    </div>
  </footer>
</blockquote>
