<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>user friendly Control panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <img
      class="block-showcase__image"
      src="icons/The-Starry-Night.jpg"
      alt="forest"
    />
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#setting"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">This is the title</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam
              odio officiis reprehenderit! Quisquam itaque ratione officia
              accusamus suscipit odio harum.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#setting"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">This is the title</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam
              odio officiis reprehenderit! Quisquam itaque ratione officia
              accusamus suscipit odio harum.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#setting"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">This is the title</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam
              odio officiis reprehenderit! Quisquam itaque ratione officia
              accusamus suscipit odio harum.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
